<!DOCTYPE html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Маршрут-карта</title>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sn">
  <div class="container-fluid">
              <!-- Just an image -->
    <a class="navbar-brand" href="#">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/001/206/198/original/mountain-icon.png" alt="" width="30" height="24">
    </a>
    <a class="navbar-brand" href='{{ url_for("homepage")}}'>Поход мечты</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Открыть меню">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href='{{ url_for("homepage")}}'>Главная</a>
        <a class="nav-link active" href='{{ url_for("about")}}'>Карта</a>
        <a class="nav-link active" href='{{ url_for("review")}}'>Отправиться в поход</a>
      </div>
    </div>
  </div>
</nav>
</header>
<main>

    <div class="container">
          <h1 align="center">Маршрут</h1>
     <h2 align="left">Где находится?</h2>
  <p align="justify">Кавказский заповедник, граница Краснодарского края и Карачаево-Черкесской республики, ближайший населённый пункт — село Рожкао.</p>
  <h2 align="left">Как добраться?</h2>
  <p align="justify">Необходимо доехать до посёлка Псебай в Мостовском районе Краснодарского края (сюда ходят рейсовые автобусы из Краснодара, Майкопа и других городов). Дальше понадобится трансфер до заповедного кордона Закан. В Псебае необходимо также приобрести билеты в Кавказский заповедник (300 руб. в сутки).
От кордона Закан начинается маршрут на озеро Безмолвия: 15 км пути с набором высоты 1 200 м. Тропа ведёт вдоль реки Имеретинка, вытекающей из озера, пару раз переходя с берега на берег. По пути встречаются два впечатляющих водопада: один каскадный, общей высотой 120 м, второй высотой 60 м. Не каждая группа одолевает расстояние от кордона до озера за день, и перед нижним из водопадов удобно сделать ночёвку.
Всё время двигаясь вверх по реке, путешественники привыкают к её шуму, и попадая в огромный горный цирк с озером, бывают оглушены царящей в нём тишиной — отсюда и появилось второе название озера — «Безмолвия».</p>
  <h2 align="left">Сколько времени нужно?</h2>
  <p align="justify">Минимум три дня, но лучше добавить ещё один запасной.</p>
   <h2 align="left">Что ещё посмотреть?</h2>
  <p align="justify">Если взглянуть на карту или спутниковый снимок, можно увидеть огромное количество озёр самой разной формы и размера, залегающих в уютных карах по всему массиву Имеретинского горного узла. Проще всего от озера Безмолвия дойти к соседним озёрам, расположенным выше: озеро исследователя Н.А. Буша на высоте 2 800 м, привлекающее своей замысловатой формой и глубоким синим цветом, и озеро Поднебесное на высоте 2 850 м. Для первого похода этого будет достаточно, ведь вы всё равно обязательно захотите вернуться сюда, чтобы увидеть остальные озёрные сокровища.</p>

    </div>
        <div >
        <img src="http://mountaindreams.ru/wp-content/gallery/igo/ozera_250m_big2.jpg" class="img-fluid" alt="Маршрут-карта">
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>


</head>
<body>

</body>
</html>