<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title> {% block title %}{% lockend %}</title>
</head>
<body >

<header >
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sn">
  <div class="container-fluid">
              <!-- Just an image -->
    <a class="navbar-brand" href="#">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/001/206/198/original/mountain-icon.png" alt="" width="30" height="24">
    </a>
    <a class="navbar-brand" href="#">Поход мечты</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Открыть меню">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Главная</a>
        <a class="nav-link" href="#">Карта</a>
        <a class="nav-link" href="#">Отзывы о маршруте</a>
      </div>
    </div>
  </div>
</nav>
</header>

{% blok body %}{% endlock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>
