<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Бронь</title>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sn">
  <div class="container-fluid">
              <!-- Just an image -->
    <a class="navbar-brand" href="#">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/001/206/198/original/mountain-icon.png" alt="" width="30" height="24">
    </a>
    <a class="navbar-brand" href='{{ url_for("homepage")}}'>Поход мечты</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Открыть меню">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href='{{ url_for("homepage")}}'>Главная</a>
        <a class="nav-link active" href='{{ url_for("about")}}'>Карта</a>
        <a class="nav-link active" href='{{ url_for("review")}}' >Отправиться в поход</a>
      </div>
    </div>
  </div>
</nav>
</header>
<hr>
<main class="container mt-4">
   <form>
       <h2>Забронировать место</h2>
<div class="mb-3">
  <label for="comment" class="form-label">Ваши вопросы и пожелания к походу</label>
  <a href="tel:+380985554433">Позвоните нам!</a>
</div>
<div class="form-floating mb-3">
 <p><a href="mailto:vlad@htmlbook.ru?subject=Вопрос по HTML">Задавайте
  вопросы по электронной почте!</a></p>
  <p><img src="https://i.pinimg.com/736x/38/00/8a/38008a76bf364505f1ac213abc5f1d92.jpg" alt=".."
   width="400" height="450" class="frame"></p>
  <p>Мы расскажем обо всём, что вас интересует! Обещаем будет незабываемое!</p>
</form>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

<hr>
</body>
</html>


